@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

abbr { 
	text-decoration: none;
}

body {
	font-family: 'Raleway', sans-serif;
	background: #fff;
}

body.green {
	background: #33a038;
}

body > * {
	max-width: 1000px;
	margin: 0 auto;
}

body a {
    text-decoration: none;
	color: inherit;
}

body .full-width {
	max-width: 99999px;
	width: 100%;
	padding-left: 0;
	padding-right: 0;
}

header {
    height: 100px;
	background: #fff;
}

header > div {
	max-width: 1000px;
	margin: 0 auto;
}

header h1 {
	float: left;
}

header h1 a abbr {
	display: inline-block;
	width: 188px;
	height: 97px;
	background: transparent url('images/caep.png') no-repeat 0 0;
	background-size: 188px 97px;
	text-indent: -9999px;
}

header nav {
	float: right;
	margin: 35px 0;
    list-style: none;
}

header nav li {
    display: inline-block;
	white-space: nowrap;
	font-weight: normal;
	font-size: 24px;
	margin: 0 10px;
}

section {
	color: #fff;
	padding: 0 50px 50px 50px;
	width: calc(100% - 100px);
	overflow: hidden;
}

section h1 {
	font-weight: bold;
	font-size: 36px;
}

section p,
section address {
	margin-top: 15px;
	font-weight: 500;
	font-size: 26px;
	text-align: justify;
	line-height: 35px;
}

section p img.image-text {
	max-width: 400px;
	border-radius: 10px;
	margin-bottom: 10px;
}

section p img.image-text.image-text-left {
	float: left;
	margin-right: 20px;
}

#banner {
	display: flex;
	align-items: center;
	height: calc(100vw * 0.33);
	margin-bottom: 50px;
	background: transparent url('images/usp.png') no-repeat center 0;
	background-size: 100%;
	vertical-align: middle;
}

#banner > div {
	width: 1000px;
	margin: 0 auto;
}

#banner h1 {
	font-weight: bold;
	font-size: 48px;
}

#banner h2 {
	font-weight: 500;
	font-size: 36px;
}

#about ul {
	margin: 30px 0;
	padding: 0 20px;
	border-radius: 10px;
	background: #fff;
	color: #33a038;
}

#about ul li {
	display: inline-block;
	margin: 50px 20px;
	padding-left: 130px;
	width: calc(33% - 170px);
}

#about ul li:first-child {
	background: transparent url('images/target.svg') no-repeat 0 0;
	background-size: 100px 80px;
}

#about ul li:first-child + li {
	background: transparent url('images/eye.svg') no-repeat 0 0;
	background-size: 100px 80px;
}

#about ul li:first-child + li + li {
	background: transparent url('images/value.svg') no-repeat 0 0;
	background-size: 100px 80px;
	
}

#about ul li h2 {
	font-weight: bold;
	font-size: 36px;
}

#about ul li p {
	font-weight: bold;
	font-size: 18px;
	line-height: 25px;
}

#space img {
	width: 100%;
}

footer {
	text-align: center;
	font-weight: normal;
	background: #fff;
	font-size: 26px;
	padding: 30px;
}

main {
	overflow: visible;
}

main > section {
	padding-left: 0;
	padding-right: 0;
	width: 100%;
	overflow: visible;
}

#article {
	padding-left: 0;
	padding-right: 0;
	width: 100%;
}

#article h1 {
	margin: 30px 0;
	font-weight: bold;
	font-size: 48px;
	text-align: center;
	color: #FFFFFF;
}

#article ul {
	list-style: none;
	padding: 0px;
	overflow: visible;
}

#article li {
	width: 215px;
	height: 275px;
	background: #EFEFEF;
	border-radius: 10px;
	display: inline-block;
	white-space: nowrap;
	text-align: middle;
	margin: 0 0 30px 30px;
	list-style: none;
}

#article li:nth-child(4n+1) {
	margin-left: 0;
}

#mural h2 {
	font-weight: bold;
	font-size: 36px;
	text-align: left;
	color: #FFFFFF;
}

#mural h3 {
	margin: 15px 0;
	font-weight: bold;
	font-size: 28px;
	text-align: left;
	color: #FFFFFF;
}

#mural p {
	text-align: justify;
	margin: 15px 0;
	font-weight: 500;
	font-size: 24px;
	color: #FFFFFF;
}

#mural li {
	margin: 30px 0;
}

#comunication h2 {
	font-weight: bold;
	font-size: 36px;
	text-align: left;
	color: #FFFFFF;
}

#comunication p {
	line-height: 100%;
	font-weight: 500;
	font-size: 28px;
	text-align: left;
	color: #FFFFFF;
}

#comunication form label {
	display: block;
	margin-bottom: 10px;
}

#comunication form label::after {
	display: inline-block;
	content: ":";
}

#comunication form input,
#comunication form textarea {
	display: block;
	width: calc(100% - 40px);
	background: #fff;
	padding: 10px 20px;
	border-radius: 10px;
	border: 0;
	font: inherit;
	color: #33a038;
}

#comunication form input:focus,
#comunication form textarea:focus {
	outline: none;
	box-shadow: 0 0 3pt 2pt orangered;
}


#comunication form input::placeholder,
#comunication form textarea::placeholder {
	color: #ccc;
}

#comunication form input:invalid {
	box-shadow: 0 0 3pt 2pt red;
	color: red;
}

#comunication form textarea {
	min-height: 300px;
}

#comunication form .buttons {
	text-align: right;
}

#comunication form .buttons input[type='submit'] {
	display: inline-block;
	width: 200px;
	cursor: pointer;
}

#login h2 {
	margin: 30px 0;
	font-weight: bold;
	font-size: 48px;
	text-align: center;
	color: #33a038;
}

#login h3 {
	width: 624px;
	height: 502px;
	margin:0 auto;
	text-align: center;
	background: #FFFFFF;
	border: 3px solid #33A038;
	box-sizing: border-box;
	border-radius: 10px;
}

main h1{
	margin: 30px 0;
	font-weight: bold;
	font-size: 48px;
	text-align: center;
	color: #FFFFFF;
}